/*css that applies to all*/
* {
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
/*Styling heading*/
.headings {
    text-align: center;
}
/*styling logo*/
.logo {
    text-align: center;
}
/*css for form*/
#form {
    text-align: center;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styling search input*/
.flex input {
    padding: 10px;
    margin-right: 10px;
    width: auto;
}


/*css for style button*/
.flex button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
}

/*css for images*/
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.photos div {
    margin: 10px;
    padding: 10px;
    box-shadow: 8px 8px rgba(0.0, 0.0, 0.0, 0.1);
    width: calc(30% - 20px);
    align-items: left;
}

.photos img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*syling buttons*/
button {
    display: block;
    margin: 10px 0; 
    background-color: green; 
    color: white;
    padding: 5px 10px; 
    text-align: center;
    width: auto;
}

/*styles for download button*/
a {
    background-color: green;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0;
    width: auto;
  }
  
/*css for footer*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}




